name: tests

on:
  push:
    paths:
      - '**/*.py'
      - '**/*.pyi'
      - 'pyproject.toml'
      - 'mypy.ini'
      - 'setup.cfg'
      - 'setup.py'
      - 'requirements*.txt'
      - 'tox.ini'
      - 'poetry.lock'
      - '.pre-commit-config.yaml'
      - 'tests/**'
      - 'pytest.ini'
      - '.github/workflows/test.yml'
  pull_request:
    paths:
      - '**/*.py'
      - '**/*.pyi'
      - 'pyproject.toml'
      - 'mypy.ini'
      - 'setup.cfg'
      - 'setup.py'
      - 'requirements*.txt'
      - 'tox.ini'
      - 'poetry.lock'
      - '.pre-commit-config.yaml'
      - 'tests/**'
      - 'pytest.ini'
      - '.github/workflows/test.yml'

jobs:
  tests:
    name: Python ${{ matrix.python }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python: ['3.11', '3.12', '3.13']

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .[test]

      - name: Run tests
        run: |
          pytest -q --durations=5 --cov=mypycify
